<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="theme-color" content="#000" />

    <link rel="preconnect" href="https://<%= appId %>-dsn.algolia.net" crossorigin />

    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic" />
    <title>Unified InstantSearch E-commerce</title>
  </head>

  <body>
  

    <div id="search-container"></div>



    <script src="https://polyfill.io/v3/polyfill.min.js?features=default,Array.prototype.find,Array.prototype.includes,Promise,Object.assign,Object.entries,Object.values,IntersectionObserver"></script>
  </body>
</html>
